[submodule "external_packages/llvm-project"]
	path = external_packages/llvm-project
	url = https://github.com/PlatinumCD/llvm-project.git
	branch = llvm-riscv
	shallow = true
[submodule "external_packages/torch-mlir"]
	path = external_packages/torch-mlir
	url = https://github.com/PlatinumCD/torch-mlir.git
	branch = analog-dialect
	shallow = true
[submodule "external_packages/riscv-gnu-toolchain"]
	path = external_packages/riscv-gnu-toolchain
	url = https://github.com/riscv-collab/riscv-gnu-toolchain.git
	branch = master
	shallow = true
